.key {
  width: 81.5%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  position: relative;
}

.button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: var(--primary-black) 2px solid;
  background-color: var(--filler);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--primary-black);
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.button:active {
  background-color: var(--active);
  transform: translateY(6px) !important;
}

.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -7%;
  right: -7%;
  background-color: var(--primary-black);
  border-radius: 15px;
  transition: all 0.3s ease;
  z-index: -1;
}

.del-key {
  grid-column: 2/4;
  grid-row: 1;
  aspect-ratio: initial;
  width: 90%;
  height: 84%;
}

.result-key {
  grid-column: 1/3;
  grid-row: 5;
  aspect-ratio: initial;
  width: 90%;
  height: 84%;
}

.del-key div,
.result-key div {
  right: -3.5%;
}

.button:hover {
  transform: translate(-3px, -3px);
}

.key:hover .shadow {
  transform: translate(2px, 2px);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.button-shake {
  animation: shake 0.4s ease-in-out;
}
