@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-black: #2f332b;
  --secondary-light-green: #b8f3d8;
  --filler: #fcf6e6;
  --active: #8b728e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
